<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Scroll Snap</title>
    <style>
      .scroller {
        height: 100vh;
        overflow-y: scroll;
        scroll-snap-type: y mandatory;
        scroll-snap-stop: always;
      }

      .scroller section {
        scroll-snap-align: start;
      }
      .section1 p {
        inline-size: 150px;
        /* overflow-wrap: break-word; */
      }
    </style>
  </head>
  <body>
    <article class="scroller">
      <section class="section1">
        <h2>Section one</h2>
        <p>
          Turnip greens yarrow ricebean rutabadsfdsfga endive cauliflower sea
          lettuce kohlrabi amaranth water spinach avocado daikon napa cabbage
          asparagus winter purslane kale. Celery potato scallion desert raisin
          horseradish spinach carrot soko. Turnip greens yarrow ricebean
          rutabaga endive cauliflower sea lettuce kohlrabi amaranth water
          spinach avocado daikon napa cabbage asparagus winter purslane kale.
          Celery potato scallion desert raisin horseradish spinach carrot soko.
          Turnip greens yarrow ricebean rutabaga endive cauliflower sea lettuce
          kohlrabi amaranth water spinach avocado daikon napa cabbage asparagus
          winter purslane kale. Celery potato scallion desert raisin horseradish
          spinach carrot soko. Turnip greens yarrow ricebean rutabaga endive
          cauliflower sea lettuce kohlrabi amaranth water spinach avocado daikon
          napa cabbage asparagus winter purslane kale. Celery potato scallion
          desert raisin horseradish spinach carrot soko. Turnip greens yarrow
          ricebean rutabaga endive cauliflower sea lettuce kohlrabi amaranth
          water spinach avocado daikon napa cabbage asparagus winter purslane
          kale. Celery potato scallion desert raisin horseradish spinach carrot
          soko. Turnip greens yarrow ricebean rutabaga endive cauliflower sea
          lettuce kohlrabi amaranth water spinach avocado daikon napa cabbage
          asparagus winter purslane kale. Celery potato scallion desert raisin
          horseradish spinach carrot soko. Turnip greens yarrow ricebean
          rutabaga endive cauliflower sea lettuce kohlrabi amaranth water
          spinach avocado daikon napa cabbage asparagus winter purslane kale.
          Celery potato scallion desert raisin horseradish spinach carrot soko.
          Turnip greens yarrow ricebean rutabaga endive cauliflower sea lettuce
          kohlrabi amaranth water spinach avocado daikon napa cabbage asparagus
          winter purslane kale. Celery potato scallion desert raisin horseradish
          spinach carrot soko.
        </p>
      </section>
      <section>
        <h2>Section two</h2>

        <p>
          Turnip greens yarrowddddd ricebean rutabaga endive cauliflower sea
          lettuce kohlrabi amaranth water spinach avocado daikon napa cabbage
          asparagus winter purslane kale. Celery potato scallion desert raisin
          horseradish spinach carrot soko. Turnip greens yarrow ricebean
          rutabaga endive cauliflower sea lettuce kohlrabi amaranth water
          spinach avocado daikon napa cabbage asparagus winter purslane kale.
          Celery potato scallion desert raisin horseradish spinach carrot soko.
          Turnip greens yarrow ricebean rutabaga endive cauliflower sea lettuce
          kohlrabi amaranth water spinach avocado daikon napa cabbage asparagus
          winter purslane kale. Celery potato scallion desert raisin horseradish
          spinach carrot soko. Turnip greens yarrow ricebean rutabaga endive
          cauliflower sea lettuce kohlrabi amaranth water spinach avocado daikon
          napa cabbage asparagus winter purslane kale. Celery potato scallion
          desert raisin horseradish spinach carrot soko. Turnip greens yarrow
          ricebean rutabaga endive cauliflower sea lettuce kohlrabi amaranth
          water spinach avocado daikon napa cabbage asparagus winter purslane
          kale. Celery potato scallion desert raisin horseradish spinach carrot
          soko. Turnip greens yarrow ricebean rutabaga endive cauliflower sea
          lettuce kohlrabi amaranth water spinach avocado daikon napa cabbage
          asparagus winter purslane kale. Celery potato scallion desert raisin
          horseradish spinach carrot soko. Turnip greens yarrow ricebean
          rutabaga endive cauliflower sea lettuce kohlrabi amaranth water
          spinach avocado daikon napa cabbage asparagus winter purslane kale.
          Celery potato scallion desert raisin horseradish spinach carrot soko.
          Turnip greens yarrow ricebean rutabaga endive cauliflower sea lettuce
          kohlrabi amaranth water spinach avocado daikon napa cabbage asparagus
          winter purslane kale. Celery potato scallion desert raisin horseradish
          spinach carrot soko. Turnip greens yarrow ricebean rutabaga endive
          cauliflower sea lettuce kohlrabi amaranth water spinach avocado daikon
          napa cabbage asparagus winter purslane kale. Celery potato scallion
          desert raisin horseradish spinach carrot soko. Turnip greens yarrow
          ricebean rutabaga endive cauliflower sea lettuce kohlrabi amaranth
          water spinach avocado daikon napa cabbage asparagus winter purslane
          kale. Celery potato scallion desert raisin horseradish spinach carrot
          soko. Turnip greens yarrow ricebean rutabaga endive cauliflower sea
          lettuce kohlrabi amaranth water spinach avocado daikon napa cabbage
          asparagus winter purslane kale. Celery potato scallion desert raisin
          horseradish spinach carrot soko. Turnip greens yarrow ricebean
          rutabaga endive cauliflower sea lettuce kohlrabi amaranth water
          spinach avocado daikon napa cabbage asparagus winter purslane kale.
          Celery potato scallion desert raisin horseradish spinach carrot soko.
          Turnip greens yarrow ricebean rutabaga endive cauliflower sea lettuce
          kohlrabi amaranth water spinach avocado daikon napa cabbage asparagus
          winter purslane kale. Celery potato scallion desert raisin horseradish
          spinach carrot soko. Turnip greens yarrow ricebean rutabaga endive
          cauliflower sea lettuce kohlrabi amaranth water spinach avocado daikon
          napa cabbage asparagus winter purslane kale. Celery potato scallion
          desert raisin horseradish spinach carrot soko.
        </p>
      </section>
      <section>
        <h2>Section three</h2>

        <p>
          Turnip greens yarrow ricebean rutabaga endive cauliflower sea lettuce
          kohlrabi amaranth water spinach avocado daikon napa cabbage asparagus
          winter purslane kale. Celery potato scallion desert raisin horseradish
          spinach carrot soko. Turnip greens yarrow ricebean rutabaga endive
          cauliflower sea lettuce kohlrabi amaranth water spinach avocado daikon
          napa cabbage asparagus winter purslane kale. Celery potato scallion
          desert raisin horseradish spinach carrot soko. Turnip greens yarrow
          ricebean rutabaga endive cauliflower sea lettuce kohlrabi amaranth
          water spinach avocado daikon napa cabbage asparagus winter purslane
          kale. Celery potato scallion desert raisin horseradish spinach carrot
          soko. Turnip greens yarrow ricebean rutabaga endive cauliflower sea
          lettuce kohlrabi amaranth water spinach avocado daikon napa cabbage
          asparagus winter purslane kale. Celery potato scallion desert raisin
          horseradish spinach carrot soko. Turnip greens yarrow ricebean
          rutabaga endive cauliflower sea lettuce kohlrabi amaranth water
          spinach avocado daikon napa cabbage asparagus winter purslane kale.
          Celery potato scallion desert raisin horseradish spinach carrot soko.
          Turnip greens yarrow ricebean rutabaga endive cauliflower sea lettuce
          kohlrabi amaranth water spinach avocado daikon napa cabbage asparagus
          winter purslane kale. Celery potato scallion desert raisin horseradish
          spinach carrot soko. Turnip greens yarrow ricebean rutabaga endive
          cauliflower sea lettuce kohlrabi amaranth water spinach avocado daikon
          napa cabbage asparagus winter purslane kale. Celery potato scallion
          desert raisin horseradish spinach carrot soko.
        </p>
      </section>
    </article>
  </body>
</html>
