<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Iphone Mobile design in CSS</title>
    <link rel="stylesheet" href="index.css" />
  </head>
  <body>
    <div class="iphone">
      <div class="screen">
        <button class="icon"></button>
        <button class="icon"></button>
        <button class="icon"></button>
        <button class="icon"></button>
        <button class="icon"></button>
        <button class="icon"></button>
        <button class="icon"></button>
        <button class="icon"></button>
        <button class="icon"></button>
        <button class="icon"></button>
        <button class="icon"></button>
        <button class="icon"></button>
        <button class="icon"></button>
        <button class="icon"></button>
        <button class="icon"></button>
        <button class="icon"></button>
        <button class="icon"></button>
        <button class="icon"></button>
        <button class="icon"></button>
        <button class="icon"></button>
        <button class="icon"></button>
        <button class="icon"></button>
        <button class="icon"></button>
        <button class="icon"></button>
        <button class="icon"></button>
        <button class="icon"></button>
        <button class="icon"></button>
      </div>

      <button class="home" title="Home"></button>
      <span class="speaker" title="Speaker"></span>
      <span class="camera" title="Camera"></span>
      <span class="proximity" title="Proximity Sensor"></span>

      <button class="silence" title="Silence Switch"></button>
      <button class="volume-up" title="Volume Up"></button>
      <button class="volume-down" title="Volume Down"></button>
      <button class="sleep" title="Sleep"></button>
    </div>
  </body>
</html>
